.header {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw
}

.logo {
    padding-left: 20px;
    display: flex;
}
.line {
    position: absolute;
    width: 600px;
    height: 1px;
    margin-left: 100px;
    margin-top: 20px;
    background-color: white;
}



